<h1>Welcome</h1>
<p>This is a basic chat app</p>


<% @rooms.each do |room| %>
    <p> <%= link_to room.name, room_messages_path(room.id) %> </p>
<% end %>

<%= form_for @room do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit %>
<% end %>
